       /* POPPINS FONT */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
  --main-color: #03010E;
  --main-div-color: #082636;
  --headings: #ff6300;
  --text-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
   background-color: var(--main-color); 
}
.back-to-home-div{
    width: 90%;
    margin-top: 2rem;
}
.back-to-home{
    text-decoration: none;
    color: white ;
    text-align: end;
   
}
.main-container{
    background-color: var(--main-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.box{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 60px 20px 30px 20px;
    height: 620px;
    width: 350px;
    border-radius: 30px;
    background-color: var(--main-color);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid var(--text-color);
    overflow: hidden;
}
.box-login{
    position: absolute;
    width: 85%;
    left: 27px;
    transition: .5s ease-in-out;
}
.box-register{
    position: absolute;
    width: 85%;
    right: -350px;
    transition: .5s ease-in-out;
}
.top-header{
    text-align: center;
    margin: 30px 0;
}
.top-header h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}
.input-group{
     width: 100%;
    
}
.input-field{
    margin: 12px 0;
    position: relative;
}

.input-box{
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    padding: 7px 45px 0 20px;
    background: var(--text-color);
    backdrop-filter: blur(2px);
    outline: none;
    /* border-bottom: 1px red solid; */
}
.input-field label{
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 15px;
    transition: .3s ease-in-out;
}
.input-box:focus ~ label,.input-box:valid ~ label{
    top: 2px;
    font-size: 10px;
    color: var(--main-color);
    font-weight: 500;
}


.input-submit{
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: var(--headings);
    color: var(--text-color);
    /* box-shadow: 0px 0px 20px white; */
    cursor: pointer;
    transition: .4s;
}
.input-submit:hover{
    background:  var(--main-div-color);
    /* box-shadow: 0px 0px 20px white; */
}
.forgot{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin-top: 40px;
}
.forgot a{
    text-decoration: none;
    color: var(--text-color);
}
.switch{
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 25px;
    width: 85%;
    height: 50px;
    background: var(--main-color);
    border: 2px var(--headings) solid;
    backdrop-filter: 10px;
    border-radius: 10px;
   /* box-shadow: 0px 0px 20px white; */
    overflow: hidden;
}
.switch a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    z-index: 10;
}
#btn{
    position: absolute;
    bottom: 0px;   
    left: 0px;
    width: 145px;
    height: 50px;
    background: var(--headings);
    border-radius: 10px;
    /* box-shadow: 0px 0px 20px white; */
    transition: .5s ease-in-out;
}
.eye-area{
    position: absolute;
    top: 25px;
    right: 25px;
}
.eye-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
i{
    position: absolute;
    color: var(--main-color);
    cursor: pointer;
}
#eye,#eye-2{
    opacity: 1;
}
#eye-slash,#eye-slash-2{
    opacity: 0;}
@media only screen and (max-width: 576px){
    .box{
        margin: 0 5px;
    }
    #btn{
        position: absolute;
        width: 153px;
    }
}