@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --main-color:   #051923;
  --main-div-color: #082636;
  --headings:   #FF6300;
  --text-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
    text-transform: capitalize;
    outline: none; 
    border:none;
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--text-color);
   
}
#menu{
    display: none;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header .logo{
  font-size: 25px; 
  font-weight: 500;
  color: var(--headings);
}
 nav a{
  font-size: 18px;
  font-weight: 500;
  margin-left: 53px;
  text-decoration: none;
}
nav a:hover, nav a.active {
  color: var(--headings);
}
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px red solid; */
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 120px 0 120px;
}

.home-left {
    max-width: 50%; 
    height: 87vh;
    margin-top: 4rem;
    border-bottom: 1px var(--headings) solid;
}
.social-media{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media i{
  padding: 0 10px;
  font-size: 30px;
}
/* .social-media i:hover{
   font-size: 30px;
    transition: .9s;
} */
.texts {
  margin-top: 3rem;
    
}
.text2{
   font-size: 36px; 
   color: var(--headings);
}
.text3{
   font-size: 20px; 
}

.home-right {
    max-width: 50%; 
}

.home-right img {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
}

.resume-button{
  background-color: var(--headings);
  width: 188px;
  height: 52px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  margin-top: 3rem;
}
@media screen and (max-width: 1200px){
   nav a{
  font-size: 15px;
  margin-left: 15px;
}

.home-right img {
  margin-top: 2rem;
    width: 100%; 
    height: 65vh;
}
.text3{
   font-size: 15px; 
}
.resume-button{
  width: 140px;
  height: 40px;
  border-radius: 5px;
  margin-top: 1rem;
}
.home-left {
    
}
}


@media screen and (max-width: 900px){
      #menu{
        display: block;
        font-size: 2rem;
        background: var(--headings);
        color:#fff;
        border-radius: 50%;
        height:5rem;
        width:5rem;
        text-align: center;
        line-height: 5rem;
        position: fixed;
        top: 1.7rem; right: 16%;
        z-index: 1000;
        cursor: pointer;
        transition:all .3s cubic-bezier(.38,1.15,.7,1.12);
    }
    
 #menu.fa-times{
    transform:rotate(-180deg);
     transition:all .3s cubic-bezier(.38,1.15,.7,1.12);
}
.navbar{
    display: block;
    position: fixed;
    top:2rem; 
    right: 17%;
    padding: 3rem 1rem .8rem 1rem;
    height: 26rem;
    z-index: 999;
    border:.2rem solid var(--headings);
    border-radius: 1rem;
    opacity: 0;
    transform-origin: top right;
    transform: scale(0);
}
.navbar a{
    display: block;
    font-size: 1rem;
    padding:1rem;
    color: var(--text-color);
}
.navbar.nav-toggle{
    opacity: 1;
    transform: scale(1);
     transition:all .3s cubic-bezier(.38,1.15,.7,1.12);
}
  header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
 nav a{
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
  text-decoration: none;
}

.home-container {
  margin-top: 4rem;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 10% 0 10%;
}
.home-left,.home-right{
  width: 100%;
  max-width: 100%; 
}
.home-left {
    max-width: 100%; 
    height: auto;
    padding-bottom: 2rem;
    border-bottom: none;
}

}